
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('./clouds-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
}

.loading {

    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    background-color: rgba(20, 20, 20, 0.788);
    width: 50vw;
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    border: 3px solid grey;
    border-radius: 4px;
    box-shadow: 5px 5px 5px 2.5px rgba(2, 2, 2, 0.256);
    z-index: 100;
  
}